@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Saloon </h1>
    <p>
        We believe in feeling good, being beautiful and knowing your true self and we wanna bring it to the world.

        In 2004, we had the good fortune to win a national hairdressing competition, from that spent a month in Auckland! At first we were terrified we wouldn’t have the skills to stand beside Auckland hairdressers. Instead we found we had more than enough passion,creativity and that fresh approach that kiwis seems to be so famous for. People were very interested in us and we visited some amazing salons. Not on the Main Street and in Mall complexes but tucked away, on the third floor, down an ally, unexpected and then Boom! a beautiful creative space. We were hooked, we could do this, we could bring our brand of specialness back home and so the idea of Hair Dressing was born.
    </p>
</div>
